.main {
  background-color: #ffffe0;
  min-height: 100vh;
}

.footer {
  flex-direction: column;
  justify-content: center;
  background-color: #dcf5f5;
  color: #808080;
  padding: 18px 0;
}

.text {
  text-align: center;
}