.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808080;
  padding: 16px 0;
}

.anchor {
  text-decoration: none;
  color: #808080;
  font-size: 1.2rem;
}

.main {
  background-color: #ffffe0;
  min-height: 100vh;
}

.header {
  padding: 0 4px;
  background-color: #008b8b;
  color: #dcf5f5;
  height: 60px;
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  background-color: #dcf5f5;
  color: #808080;
  padding: 18px 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.iconWrapper {
  height: 36px;
  width: 36px;
  color: #808080;
}

.text {
  text-align: center;
  font-size: 1.2rem;
}